*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}
body{
    background: #febdf1;
}
.app{
    background: #fff;
    width:90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;



}
.app h1 {
    font-weight: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #b71919;
    padding-bottom: 30px;

}
.quiz {
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    font-weight: 600;
    color: #a71582;
}
.btn {
    background:#ffffff;
    color: #031812;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
    background: #f994e0;
    color: #fbf2e8;
}

#next-btn{
    background: #f5d5ed;
    color: hwb(320 10% 4%);
    border: 0;
    width: 150px;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;

}
.correct {
    background:#078428;

}

.incorrect {
    background: #b71919;
}